body {
    font-family: "Roboto";
    padding: 50px;
}

.app__heading-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.task-item-enter {
    opacity: 0;
}

.task-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.task-item-exit {
    opacity: 1;
}

.task-item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
